<button ejs-button (click)="click()">Bind Data</button>
<ejs-treegrid
  #treegrid
  hasChildMapping="isParent"
  [treeColumnIndex]="1"
  parentIdMapping="ParentItem"
  idMapping="TaskID"
  height="440"
  [editSettings]="editSettings"
  [toolbar]="toolbar"
  [contextMenuItems]="contextMenuItems"
  (contextMenuClick)="(contextMenuClick)"
>
  <e-columns>
    <e-column
      field="TaskID"
      headerText="Task ID"
      width="90"
      textAlign="Right"
      isPrimaryKey="true"
    >
    </e-column>
    <e-column field="TaskName" headerText="Task Name" width="170"></e-column>
    <e-column
      field="StartDate"
      headerText="Start Date"
      width="130"
      format="yMd"
      textAlign="Right"
    ></e-column>
    <e-column
      field="Duration"
      headerText="Duration"
      width="80"
      textAlign="Right"
    ></e-column>
  </e-columns>

  <ng-template #openform>
    <div ngform>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input name="taskID" type="number" [ngModel]="taskData.taskID" />
          <label class="e-float-text e-label-top" for="taskID"> TaskID </label>
        </div>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input name="taskName" type="text" [ngModel]="taskData.taskName" />
          <label class="e-float-text e-label-top" for="taskName">
            Task Name
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input name="taskName" type="text" [ngModel]="taskData.taskName" />
          <label class="e-float-text e-label-top" for="taskName">
            Task Name
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input name="taskName" type="text" [ngModel]="taskData.taskName" />
          <label class="e-float-text e-label-top" for="taskName">
            Task Name
          </label>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-treegrid>
